.loading-session-token-container {
  position: absolute;
  top: 185px;
  width: 100%;
  display: none;
  z-index: 1;

  @media screen and (max-width: 800px) {
    top: 52%;
    transform: translateY(-50%);
  }
}

#loading-session-token-text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: $blue-light;
}
