/* {
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    }
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false,
  "isModule": true,
  "sourceMaps": "inline"
} */

// {
//   "jsc": {
//     /* "parser": {
//       "syntax": "typescript",
//     }, */
//     // "target": "es2020",
//     // "baseUrl": ".",
//     /* "paths": {
//       "@/components/*": ["src/components/*"],
//       "@/*": ["src/*"]
//     } */
//   }
//   /* "module": {
//     "type": "commonjs"
//   }*/
// }
