$font-family: Roboto, sans-serif;

$black: #000;
$white: #fff;
$turquoise: rgb(3, 199, 178);

$blue-light: rgb(65, 127, 178);
$blue: rgb(57, 110, 153);
$blue-dark: rgba(65, 127, 178, 0.4);

$grey: #ddd;
$grey-dark: rgb(43, 43, 43);

$green: rgb(59, 195, 113);

$red-misty: #c77174;
$red-light: #d4595d;
$red: #e03c41;
$red-dark: #ed1c24;
