@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

* {
  font-size: 100%;
  color: $white;
  font-family: $font-family;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: $white;
  margin: 0;
  padding: 0;
  text-align: center;
  width: inherit;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  touch-action: manipulation;
}

body {
  opacity: 0;
}

button {
  border: none;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: not-allowed;
    color: $grey;
    border-color: $grey;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.hr {
  margin: 5px auto;
  width: 250px;
  border: none;
  height: 2px;
  background: #eee;
}
